# General Packages
django >3.2,<3.3
djangorestframework

# Background proccess & cache
celery
redis
django-redis

# Third Party Packages
djangorestframework-simplejwt
drf-yasg[validation]
django-filter
django-mail-templated
python-decouple
markdown

# Development Packages
django-debug-toolbar
flake8
black
pytest
pytest-django
Faker

# Production Modules
psycopg2-binary
gunicorn
