# General Packages
django >3.2,<3.3
djangorestframework

# Third Party Packages
djangorestframework-simplejwt
drf-yasg[validation]
django-filter
django-mail-templated
python-decouple
markdown

# Development Packages
django-debug-toolbar
pytest
pytest-django