{% extends 'base.html' %}
{% block title%}CHANGE PASSWORD{% endblock title %}

{% block content %}
    <div class="header-bar">
        <div>
            <h1>Change Password</h1>
        </div>

        <a href="{% url 'task:list' %}">&#8592; Back</a>

    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}

                <P>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}

                </P>

            {% endfor %}
            <input class="button" type="submit" value="Change Password">
        </form>

    </div>
{% endblock content%}