{% extends 'base.html' %}
{% block title%}Login{% endblock title %}

{% block content %}
    <div class="header-bar">
        <h1>LogIn</h1>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit" value="Login">
        </form>

        <p>
            Don't have an account?
            <a href="{% url 'accounts:register' %}">Register</a>
        </p>

        <p>
            You can check the code on
            <a href="https://github.com/FArooghOghba/Django-CBV-TodoApp.git" style="color: #EB796F;">Github</a>
        </p>
    </div>
{% endblock content%}