{% extends 'base.html' %}

{% block content %}

    <div class="header-bar">
        <div>

            <div>
                <h1 style="margin-bottom: 0;">Hello, {{ request.user }}</h1>
                <div style="margin-bottom: 22px;">
                    It's {{ weather_description }} day for working.
                    temp is {{ temp }}
                    <iconify-icon icon="tabler:temperature-celsius"></iconify-icon>
                </div>
            </div>

            <h3 style="margin:0">You have
                &nbsp;<i>{{ incomplete_task_count }}</i>
                &nbsp;incomplete task{{ incomplete_task_count | pluralize:"s" }}
            </h3>
        </div>

        {% if request.user.is_authenticated %}
            <ul>
                <li>
                    <a href="{% url 'accounts:logout' %}">LogOut</a>
                </li>
                <li>
                    <a href="{% url 'accounts:password_change' %}">Change Password</a>
                </li>
            </ul>
        {% endif %}
    </div>

    <div id="search-add-wrapper">
        <form method="GET" style="margin: 10px; display: flex;">
            <input type="text" name="search" value="">
            <input class="button" type="submit" value="Search">
        </form>
        <a id="add-link" href="{% url 'task:create' %}">
            <iconify-icon icon="carbon:intent-request-create"></iconify-icon>
        </a>
    </div>

    <div class="task-items-wrapper">
        {% for task in tasks %}
        <div class="task-wrapper">

            {% if task.complete %}
                <div class="task-title">
                    <a href="{% url 'task:complete' task_id=task.id %}" style="margin-left: 0;">
                        <div class="task-complete-icon">
                            <iconify-icon icon="fluent-mdl2:completed-solid" width="22" height="22"></iconify-icon>
                        </div>
                    </a>
                    <i><s><a href="{% url 'task:update' task_id=task.id %}">{{ task }}</a></s></i>
                </div>

            {% else %}
                <div class="task-title">
                    <a href="{% url 'task:complete' task_id=task.id %}" style="margin-left: 0;">
                        <div class="task-incomplete-icon">
                            <iconify-icon icon="fluent-mdl2:completed-solid" width="22" height="22"></iconify-icon>
                        </div>
                    </a>
                    <a href="{% url 'task:update' task.id %}">
                        {{ task }}
                    </a>
                </div>
            {% endif %}

            <div>
                <a class="edite-link" href="{% url 'task:update' task.id %}">
                    <iconify-icon icon="material-symbols:edit-outline"></iconify-icon>
                </a>

                <a class="delete-link" href="{% url 'task:delete' task_id=task.id %}">
                    <iconify-icon icon="material-symbols:delete-outline-rounded"></iconify-icon>
                </a>
            </div>

        </div>
        {% empty %}
            <div class="empty-list">
                <h3>No Item in List!</h3>
            </div>
        {% endfor %}
    </div>

{% endblock content %}