{% extends 'base.html' %}
{% block title%}CHANGE PASSWORD{% endblock title %}

{% block content %}
    <div class="header-bar">
        <div>
            <h1>Password Reset Confirm</h1>
        </div>
        
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}

                <P>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}

                </P>

            {% endfor %}
            <input class="button" type="submit" value="Reset Password">
        </form>

    </div>
{% endblock content%}