{% extends 'base.html' %}

{% block content %}
    <div class="header-bar">
        <a href="{% url 'task:list' %}">&#8592; Home</a>
    </div>

    <div class="card-body">
        <h3>Reset Password</h3>
		<p>
            We've emailed you instructions for setting
            your password, if an account exists with
            the email you entered. You should receive
            them shortly.<br>
            If you don't receive an email, please make
            sure you've entered the address you registered
            with, and check your spam folder.
        </p>
    </div>

{% endblock content%}