{% extends 'base.html' %}

{% block content %}
    <div class="header-bar">
        <a href="{% url 'accounts:login' %}">&#8592; Back</a>
    </div>

    <div class="card-body">
        <h3>Reset Password</h3>
        <p>
            Forgotten your password? Enter your email address below,
            and we'll email instructions for setting a new one.
        </p>
        <form method="POST">
            {% csrf_token %}
            <p>Enter your email for resending activation email</p>

            <span style="color: red;">{{ form.errors }}</span>
            <label>
                {{ form.email.label }}
            </label>
            {{ form.email }}
            <input class="button" type="submit" value="Send email" style="margin-top: 10px;">
        </form>
    </div>

{% endblock content%}